.allsection {
    width: 46rem;
    display: flex;
    flex-direction: column;
}

.task_form {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    margin-top: -1.6875rem;
}

.task_form textarea {
    height: 3.375rem;
    width: 100%;
    padding: 1rem;
    resize: none;
    
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: var(--gray-300);
    background-color: var(--gray-500);

    border-color: var(--gray-700);
    border-radius: 8px;
}

.task_form textarea:focus {
    outline: none;
    color: var(--gray-100);
    border-width: 1px;
    border-color: var(--purple-dark);

}

.task_form button {
    height: 3.25rem;
    width: 5.625rem;
    margin-left: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;

    color: var(--gray-100);
    background-color: var(--blue-dark);

    border: none;
    border-radius: 8px;

    transition: background-color 0.2s;
}

.task_form button:hover {
    background-color: var(--blue);
}

.tasks_status {
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.todoview{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--blue);

    display: flex;
    gap: 0.5rem;
}

.doneview {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--purple);

    display: flex;
    gap: 0.5rem;
}
.todoview span, .doneview span {
    color: var(--gray-200);
    background-color: var(--gray-400);

    padding: 0.125rem 0.57rem;
    border-radius: 999px;
}

.task_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    /* padding: 4rem 0; */

    margin-top: 1.5rem;

    color: var(--gray-300);
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

/* .task_wrapper :first-child {
    margin-bottom: 1rem;
} */